{% extends   'company/common_pages/main_contain.html' %}

{% block title %}
<title>Users | Create</title>
{% endblock %}
{% block navbar %}
<li class="nav-item ">
    <a class="nav-link" href="{% url  'Company:query_page' %}">Query Builder <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url  'Company:user_list' %}">Users</a>
</li>
{% endblock %}
{% block contentblock %}
<div style="margin:1%">
    <div>
        <h1 >Users</h1>
    </div>
    <style>
        .error {color:red;}
    </style>
    <div class="form">
    <form role="form" method="POST">
        <div class="box-body">
            {% csrf_token  %}

            <div class="form-group">
                <label >UserName<span class="error">{{form1.username.errors |striptags}}</span></label>
                {{form1.username}}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">First Name<span class="error">{{form1.first_name.errors |striptags}}</span></label>
                {{form1.first_name}}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Last Name<span class="error">{{form1.last_name.errors |striptags}}</span></label>
                {{form1.last_name}}
            </div>
            <div class="form-group">
                <label>Password <span class="error">{{form1.password1.errors |striptags}}</span></label>
                {{form1.password1}}
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password<span class="error">{{form1.password2.errors |striptags}}</span></label>
                {{form1.password2}}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address<span class="error">{{form1.email.errors |striptags}}</span></label>
                {{form1.email}}
            </div>

                <label>Staff Member</label>
                {{form1.is_staff}}


        </div>
        <!-- /.box-body -->
        <div class="box-footer">

            <button type="submit" class="btn btn-primary">Submit</button> &nbsp;
            <a href="{% url  'Company:user_list' %}">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </a>
        </div>
    </form>
    </div>
</div>
{% endblock %}
</body>
</html>