{% extends   'company/common_pages/main_contain.html' %}

{% block title %}
<title>Users</title>
{% endblock %}
{% block navbar %}
<li class="nav-item ">
    <a class="nav-link" href="{% url  'Company:query_page' %}">Query Builder <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url  'Company:user_list' %}">Users</a>
</li>
{% endblock %}
{% block contentblock %}
<div style="margin:1%">
    <div style="display:block">
        <h1 style="float:left">Users</h1>
        <a href="{% url  'Company:user_create' %}">
            <button class="btn btn-primary" style="float:right">Create User</button>
        </a>
    </div>
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Active
            </th>
            <th></th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            {% if user.active %}
            <td>Active</td>
            {% else %}
            <td>Inactive</td>
            {% endif %}
            <td>
                <a href="{% url  'Company:user_delete' user.id %}">
                    <button onclick="return confirm('confirm Delete?')">
                        <i class='fa fa-close'></i>
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
</body>
</html>