{% extends   'company/common_pages/main_contain.html' %}

{% block title %}
<title>Query Builder</title>
{% endblock %}
<li class="nav-item active">
    <a class="nav-link" href="{% url  'Company:query_page' %}">Query Builder <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="{% url  'Company:user_list' %}">Users</a>
</li>
{% block contentblock %}
<div style="margin:1%">
    <div class="container" id="output" style="Display: none;">
        <div class='alert alert-warning alert-dismissible show' role='alert'><strong id="output_text"></strong> Records found for query.
            <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                <span aria-hidden='true'>&times;</span>
            </button>
        </div>
    </div>
    <h1>Query Builder</h1>
    <div style="padding-left:10%">
        <div style="float:left;margin:1%;width:20%;">
            <input type="text" name="keyword" id="keyword" placeholder="keyword" class="form-control">

        </div>

        <div style="float:left;width:20%;margin:1%">
            <select id="industry"  class="form-control">
                {% for obj in industry %}
                <option value={{obj}}>{{obj}}</option>
                {% endfor %}
                <option value="" selected>Industry</option>
            </select>
<!--            <input class="typeahead form-control" autocomplete="off" placeholder="Industry" id="industry">-->
        </div>
        <div style="float:left;width:20%;margin:1%">
            <select id="year_founded"  class="form-control">
                <option value="" selected>Year Founded</option>
                {% for obj in year_founded %}
                <option value={{obj}}>{{obj}}</option>
                {% endfor %}
            </select>
        </div>
        <div style="clear:both;">&nbsp;</div>

        <div style="float:left;width:20%;margin:1%">
            <select id="city"  class="form-control">
                <option value=""  selected>City</option>
                {% for obj in city %}
                <option value={{obj}}>{{obj}}</option>
                {% endfor %}
            </select>
        </div>
        <div style="float:left;width:20%;margin:1%">
            <select id="state"  class="form-control">
                <option value="" selected>State</option>
                {% for obj in state %}
                <option value={{obj}}>{{obj}}</option>
                {% endfor %}
            </select>
        </div>
        <div style="float:left;width:20%;margin:1%">
            <select id="country"  class="form-control">
                <option value="" selected>Country</option>
                {% for obj in country %}
                <option value={{obj}}>{{obj}}</option>
                {% endfor %}
            </select>
        </div>
        <div style="clear:both;">&nbsp;</div>
        <div style="float:left;width:20%;margin:1%">
            <select id="employee_from"  class="form-control">
                <option value="" selected>Employee(from)</option>
                <option value="0">0</option>
                <option value="10000">10000</option>
                <option value="20000">20000</option>
                <option value="50000">50000</option>
                <option value="100000">100000</option>
                <option value="150000">150000</option>
                <option value="200000">200000</option>
                <option value="250000">250000</option>
            </select>
        </div>
        <div style="float:left;width:20%;margin:1%">
            <select id="employee_to"  class="form-control">
                <option value="" selected>Employee(to)</option>
                <option value="10000">10000</option>
                <option value="20000">20000</option>
                <option value="50000">50000</option>
                <option value="100000">100000</option>
                <option value="150000">150000</option>
                <option value="200000">200000</option>
                <option value="250000">250000</option>
                <option value="300000">300000</option>
            </select>
        </div>
        <div style="clear:both;">&nbsp;</div>
        <div style="float:left;margin:1%">
            <button type="submit" class="btn btn-primary" onclick="collect_data()">Query</button>
        </div>
        <div style="float:left;margin:1%">
            <button type="button" class="btn btn-default" onclick="reset_input()">Reset</button>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>