{% block title %}
<title>Catalyst</title>
{% endblock %}

{% include 'company/common_pages/header.html' %}
<nav class="navbar navbar-default" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Catalyst</a>
        </div>
        <ul class="nav navbar-nav">
            {% block navbar %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url  'Company:query_page' %}">Query Builder <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url  'Company:user_list' %}">Users</a>
                </li>
            {% endblock %}
        </ul>
        <div style="float:right;width:2%">
            <a href="{% url  'Company:logout' %}"><i class='fa fa-sign-out' style="font-size:200%"></i></a>
        </div>
    </div>
</nav>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        {% block contentblock %}
            This is Content main
        {% endblock %}
    </section>
</div>